html {
  color:rgb(7, 7, 54);
  scroll-behavior: smooth;
}
body{
  font-family:'PT Mono',serif;
}

.intro {
  background-image: url(background.jpeg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 20px;
  
}

.intro-heading {
  font-size: 40px;
  color: white;
  text-align: center;
}

.intro-dates{
  font-size: 30px;
  color:rgb(255, 20, 122);
  text-align: center;
}

.intro-description {
  font-size: 20px;
  color:white;
  text-align: center;
}

.learn-more{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.button{
  border: 2px solid rgb(255, 20, 122);
  background-color: rgb(255, 20, 122);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
}

.button:hover {
 background-color:rgb(7, 7, 54);
 border: 2px solid rgb(255, 20, 122);
 transition: all 0.5s;
}

.faq{
  margin-bottom: 20px;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
}

.question {
  font-size: 20px;
}

.answer{
  font-size: 15px;
}

.media-icons svg {
  height: 70px;
  width: 50px;
  fill:rgb(7, 7, 54);
}

.media-icons svg:hover {
  fill:rgb(255, 20, 122)
}

.video-container {
  background-color:rgb(7, 7, 54);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0;
  text-align: center;

}
.video-heading {
  color: white;
  font-size: 25px;

}

.media-container {
  color: rgb(7, 7, 54);
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.media-icons {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.footer{
  background-color:rgb(7, 7, 54);
  color: white;
  font-size: 25px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
}

.q-author {
  margin-top: 20px;
  font-size: 15px;
  padding: 20px 10px 10px 10px;
}
.inner-content {
  max-width: 900px;
}